<!--Navbar-->
{{> nav/nav-bar}}

<!-- jumbotron -->
{{> jumbo/tron}}

<!--About Body-->
<div id="mission">
  <p>Helping our clients acheive their goals with cutting-edge financial services, specializing in technology and stock market trading</p>
</div>

<h4 id="team" class="header">Meet the Technocrats</h4>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img class="headshots" src="images/tyler.png" alt="Tyler Maran">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3 class="memberName">Tyler Maran</h3>
        <ul>
          <li><b>Sequelize, back-end specialist</b></li>
        </ul>
        <p class="bio">Graduated from Georgia State University in 2015 with a BBA in Economics and a focus in Finance. Joined The Private Bank in June 2015 serving as a credit analyst for the Atlanta Market. Assessed credit proposals using quantitative and qualitative analysis through business and financial risk based metrics, making key recommendations in the form of approval, denial, limit adjustment or taking of security.</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/tylermaran" target="_blank"><button class="btn social githubBtn"><i class="fab fa-github"></i></button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="card horizontal">
    <div class="card-image">
      <img class="headshots" src="images/logan.png" alt="Logan Stroly">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h3 class="memberName">Logan Stroly</h3>
        <ul>
          <li><b>UI design, back-end routing, Heroku deployment</b></li>
        </ul>
        <p class="bio">Graduated from the University of Georgia in 2010 with a BA in Finance. Obtained his Masters in Accounting at Georgia State in 2013. Has five years of experience working in finance and business operations roles within the software industry.</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/lstroly" target="_blank"><button class="btn social githubBtn"><i class="fab fa-github"></i></button></a>
        </div>
      </div>
    </div>
    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-image">
          <img class="headshots" src="images/limbert.png" alt="Limbert Bontigao">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3 class="memberName">Limbert Bontigao</h3>
            <ul>
              <li><b>Front-end and database set-up, Stock Market API</b></li>
            </ul>
            <p class="bio">Graduated MBA & Masters Degree program at Stevens Institute of Technology with a 4.0 GPA. Currently Java Team Leader at Norfolk Southern Corp. Over ten years experience in IT Development within the Financial Services and Transportation industries.</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/limbert08" target="_blank"><button class="btn social githubBtn"><i class="fab fa-github"></i></button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card horizontal">
        <div class="card-image">
          <img class="headshots" src="images/matt.png" alt="Matt Gohr">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3 class="memberName">Matt Gohr</h3>
            <ul>
              <li><b>Handlebars, back-end routing, Sequelize</b></li>
            </ul>
            <p class="bio">Graduated from Georgia State University with a Bachelor of Science. Worked as a Strategic Account Coordinator at Microsoft. Currently serving as Digital Marketing Analyst at Invista.</p>
          </div>
          <div class="card-action">
            <a href="https://github.com/MattGohr" target="_blank"><button class="btn social githubBtn"><i class="fab fa-github"></i></button></a>
          </div>
        </div>
      </div>
      <div class="card horizontal">
        <div class="card-image">
          <img class="headshots" src="images/dean.png" alt="Dean Dyer">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3 class="memberName">Dean Dyer</h3>
            <ul>
              <li><b>Front-end, About page</b></li>
            </ul>
            <p class="bio">Graduated from the University of Miami for Fashion/Apparel Development. Oregon State University graduate. Currently working as a home improvement specialist in Atlanta.</p>
          </div>
          <div class="card-action">
            <a href="https://www.linkedin.com/in/dean-dyer-7b4778144/" target="_blank"><button class="btn social githubBtn"><i class="fab fa-github"></i></button></a>
          </div>
        </div>
      </div>

      <!-- Footer Region -->
      <div class="row">
        <div class="col s12">
          <!-- Line Break followed by closing -->
          <hr>
          <h7 class="text-center"><small><span id="tsi">Tech Square Investments</span><br>
            Created by the Technocrats</h7>
        </div>
      </div>
    </div>

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!--Materialize JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Code to the JavaScript Files -->
    <script type='text/javascript' src='js/acctDetail.js'></script>
    <script type='text/javascript' src='js/nav.js'></script>
    <!--Nav feature-->
    <script type='text/javascript'>$(".button-collapse").sideNav();</script>
