<!--Cover video-->
<div class="homepage-hero-module">
  <div class="video-container">
    <div class="filter"></div>
    <!-- <div class="poster hidden">
      <img id="posterImg" src="coverr/coverr.jpg" alt="">
    </div> -->
    <video autoplay loop>
      <source class="videoScreen" src="coverr/coverr.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source class="videoScreen" src="coverr/coverr.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>


    <!--Login panel-->
    <div class="login container center-align ">
      <div class="row">
        <div class="card white darken-1 col s12 m6 offset-m3">
          <div class="card-content">
            <span class="card-title"><!--<i class="fa fa-bitcoin"></i>-->Tech Square Investments</span>
            <p id="slogan">The Bank for New Ideas.</p>
          </div>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email_id" type="email" class="validate">
                  <label for="email_id">Email</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="pass_word" type="password" class="validate">
                  <label for="pass_word">Password</label>
                </div>
              </div>
            </form>
          </div>

          <div class="card-action">
            <button type="submit" class="btn btn-default" id="run-search"><!--<i class="fa fa-search"></i>-->LOGIN</button>
            <br>
            <p>New User?<br>

              <a href="#modal1" class="modal-trigger" id="enrollBtn">Enroll</a>

            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Cover video-->

  </div>
</div>

<!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12 formValidate needs-validation" id="formValidate" method="get" action novalidate="novalidate">
          <div class="row">
            <div class="input-field col s6">
              <input id="fname" type="text" class="validate" name="fname" required>
              <label for="fname">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="lname" type="text" class="validate" name="lname" required>
              <label for="lname">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="confirm-password" type="password" name="confirm_password" class="validate" required>
              <label for="confirm_password">Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light right submit" type="submit" name="action">Submit
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- jQuery JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script type='text/javascript' src='js/add.js'></script>
<script type='text/javascript' src='js/login.js'></script>
