<!-- navbar -->
<!-- {{> nav/nav-bar}} -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">TSI</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/summary">Home</a></li>
        <li class="nav-link"><a href="/account-detail">Transactions</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-demo">
  <li><a href="/summary">Home</a></li>
  <li><a href="/account-detail">Transactions</a></li>
</ul>
<!-- Jumbotron for Title #20315A-->
{{> jumbo/tron}}
<!-- Container -->
<div class="container">
  <div class="row">
    <div class="col s4">
      <div id="welcomePanel" class="card-panel">
        <h5><strong><!--<i class="fa fa-bitcoin"></i>-->Hello, John</strong></h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

      <div class="panel panel-primary">

        <h5 class="panel-title"><strong><i class="fa fa-table"></i> Investment Accounts : </strong></h5>

        <div class="panel-body" id="well-section">
          <table class="highlight white">
            <thead>
              <tr>
                <th scope="col">ACCOUNT NUMBER</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ACCOUNT TYPE</th>
                <th scope="col">BALANCE</th>
              </tr>
            </thead>
            <!-- Add ACCOUNT data to the table body below -->
            <tbody id="targetbody"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col s4">
    <br>
    <!-- Stock Ticker API -->
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title"><strong><i class="fa  fa-money"></i> Markets :</strong></h5>
      </div>
      <div>
        <!--img src="http://openweathermap.org/img/w/01n.png" class="img-responsive" id="atlicon"-->
        <img src="" class="img-responsive" id="atlimg">
        <p id="atlweather"> </p>
        <br>
      </div>
    </div>
  </div>

  <!-- Footer Region -->
  <div class="row">
    <div class="col s12">
      <!-- Line Break followed by closing -->
      <hr>
      <h7 class="text-center"><small>Created by Team2: Technocrats <!--<i class="fa fa-stack-overflow"></i></small>--></h7>
    </div>
  </div>
</div>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery.js"></script>
<!--Materialize JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- Code to the JavaScript Files -->
<script type='text/javascript' src='js/acctList.js'></script>
<script type='text/javascript' src='js/nav.js'></script>
<!--Nav feature-->
<script type='text/javascript'>
  $(".button-collapse").sideNav();
</script>
