body {
  background-color: #2C3539;
}

.login {
  width: 50em;
  }

  .card {
    height: 32em;
    margin-top: 30px;
    border-radius: 5px;
    color: #2B3856;
    font-family: "Montserrat";
  }

  @media screen and (max-width: 1200px) {
    .card {
      height: 36em;
    }
  }

@media screen and (max-width: 600px) {
  .login {
    width: 20em;
  }
}

.card-title {
  color: #2d3e4f;
}

#slogan {
  color: #f89b57;
}

#enrollBtn {
  margin: auto;
}

/*Background video*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    height: 700px;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    top: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
    height: 100%;
}
.video-container video.fillWidth {
    width: 100%;
}

.videoScreen {
  border: 5px solid red;
}
