body {
  background-color: #E5E4E2;
}

.error {
  color: red;
}
.login {
  width: 50em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25em;
  margin-top: -28em;
  }

.card {
  margin-top: 100px;
  border-radius: 5px;
  color: #124257;
  font-family: "Open Sans";
}

.card-content {
  font-family: "Montserrat";
}



@media screen and (max-width: 600px) {
  .login {
    width: 20em;
    margin-left: -10em;
  }
}

.card-title {
  color: #124257;
}

#slogan {
  color: #f89b57;
}

#enrollBtn {
  margin: auto;
}

/*Background video*/

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video, .touch .video-container video {
  display: none;
}

.no-video .video-container .poster, .touch .video-container .poster {
  display: block !important;
}

.video-container {
<<<<<<< HEAD
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 100%;
  overflow: hidden;
  height: 700px;
=======
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    height: 100vh;
>>>>>>> e3bb2828ce34dbf600df1bf322430c993431987e
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  top: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
  top: 0;
  height: 100%;
}

.video-container video.fillWidth {
  width: 100%;
}

.videoScreen {
  border: 5px solid red;
}

/*Footer*/

#footer {
  position: relative;
  top: 900px;
}
