body {
  color: #124257;
  background-color: #E5E4E2;
}

nav {
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #124257;
  padding-left: 30px;
  padding-right: 30px;
}

.brand-logo {
  font-family: "Montserrat";
}

.side-nav {
  font-family: "Open Sans";
}

#jumbotron {
  padding-top: 50px;
  font-family: "Montserrat";
  background-color: white;
  height: 350px;
}

#jumbotron h4 {
  color: #f89b57;
}

#title {
  font-size: 54px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  /* position: relative;
  top: 40px; */
  background-color: #E5E4E2;
  padding-top: 50px;
  font-family: "Open Sans";
  weight: 300;
  height: 100%;
}

#welcomePanel {
  width: 300px;
  color: #26a69a;
}

table {
  border: 1px solid lightgrey;
}

th {
  text-align: center;
  width: 200px;
}

.balance {
  color: #26a69a;
}

#trxTable {
  margin-top: 20px;
}

#tsi {
  font-weight: bold;
}

#stockAPI {
  background-color: white;
  width: 450px;
  border: 1px solid lightgrey;
  padding-left: 10px;
}

/*About*/
#mission {
  width: 80%;
  margin: auto;
  font-family: "Raleway";
  font-size: 28px;
  color: #26a69a;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

#team {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-image {
  border-radius: 5px;
  padding: 20px;
  width: 275px;
  height: 275px;
  border-radius: 100%;
}
