body {
  color: #124257;
  background-color: #E5E4E2;
}

nav {
  font-family: "Open Sans";
  font-weight: 300;
  background-color: #124257;
  padding-left: 30px;
  padding-right: 30px;
}

.brand-logo {
  font-family: "Montserrat";
}

.side-nav {
  font-family: "Open Sans";
}

#jumbotron {
  padding-top: 50px;
  font-family: "Montserrat";
  background-color: white;
  height: 350px;
}

#jumbotron h4 {
  color: #f89b57;
}

#title {
  font-size: 54px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  /* position: relative;
  top: 40px; */
  background-color: #E5E4E2;
  padding-top: 50px;
  font-family: "Open Sans";
  weight: 300;
  height: 100%;
}

#welcomePanel {
  width: 300px;
  color: #26a69a;
}

table {
  border: 1px solid lightgrey;
}

th {
  text-align: center;
  width: 200px;
}

.balance {
  color: #26a69a;
}

#trxTable {
  margin-top: 20px;
}

#tsi {
  font-weight: bold;
}

#stockAPI {
  background-color: white;
  width: 400px;
  border: 1px solid lightgrey;
  padding-left: 10px;
  height: 100px;
  margin-bottom: 100px;
}

#stockmkt {
  position: relative;
  bottom: 50px;
}

.hidden {
  visibility: hidden;
}

/* Loader */
.loader {
  margin:auto;
  position: relative;
  top: 30px;
  border: 10px solid white;
  border-radius: 50%;
  border-top: 10px solid #26a69a;
  border-right: 10px solid #124257;
  border-bottom: 10px solid #f89b57;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*About*/
#mission {
  width: 80%;
  margin: auto;
  font-family: "Raleway";
  font-size: 28px;
  color: #26a69a;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

#team {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-image {
  border-radius: 5px;
  padding: 20px;
  width: 275px;
  height: 275px;
  border-radius: 100%;
}
