body {
  color: #2d3e4f;
}

nav {
  font-family: "Roboto";
  font-weight: 300;
  background-color: #2d3e4f;
  padding-left: 30px;
  padding-right: 30px;
}

.brand-logo {
  font-family: "Montserrat"
}
.side-nav {
  font-family: "Montserrat";
}

#jumbotron {
  padding-top: 50px;
  font-family: "Montserrat";
  background-color: white;
  height: 350px;
}

#jumbotron h4 {
  color: #f89b57;
}

#title {
  font-size: 54px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  /* position: relative;
  top: 40px; */
  background-color: #E5E4E2;
  padding-top: 50px;
  font-family: "Roboto";
  weight: 300;
  height: 100%;
}

#welcomePanel {
  width: 300px;
  color: #008080;
}

table {
  border: 1px solid lightgrey;
}

th {
  text-align: center;
  width: 200px;
}

.balance {
  color: #008080;
}

#trxTable {
  margin-top: 20px;
}
