/* #f89b57 */

nav {
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #2d3e4f;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 2px solid #008080;
}

#jumbotron {
  padding-top: 50px;
  font-family: "Montserrat";
  background-color: white;
  height: 350px;
  color: #2d3e4f;
}

#jumbotron h4 {
  color: #f89b57;
}

#title {
  font-size: 54px;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  /* position: relative;
  top: 40px; */
  background-color: #E5E4E2;
  padding-top: 50px;
  font-family: "Montserrat";
}

#welcomePanel {
  width: 300px;
}

table {
  border: 1px solid lightgrey;
}

th {
  text-align: center;
  width: 200px;
}

.balance {
  color: #008080;
}
