body {
  background-color: #F5F4F2;
}

nav {
  font-family: "Roboto";
  font-weight: 300;
  background-color: #2d3e4f;
  padding-left: 30px;
  padding-right: 30px;
  border-top: 2px solid #f89b57;
}

.container {
  position: relative;
  top: 20px;
}

#jumbotron {
  font-family: "Noto Serif";
  border-radius: 5px;
}

#title {
  font-size: 54px;
}

#welcomePanel {
  width: 300px;
}

table {
  border: 1px solid lightgrey;
}
